name: Integration Tests

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  unit:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - if: matrix.os == 'windows-latest'
      name: Install dependencies - Windows
      run: |
          python -m pip install --upgrade pip
          python -m pip install 'torch>=1.8,<2' -f https://download.pytorch.org/whl/cpu/torch/
    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          python -m pip install invoke .[test]
    - name: Run integration tests
      run: invoke integration

  integration-python3-11:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install invoke .[test]
    - name: Run integration on python 3.11
      run: invoke integration
